.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5733; /* orange */
  padding: 10px 20px;
  color: white;
}

.logo {
  margin: 0;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}
